<h1>Plus Me</h1>
<p>Plus Me aims to connect you to the people who are doing the things you want to do.</p>
<ul>
  <li>Want to get a group discount on tickets, but you're a few people short?</li>
  <li>Attending an event that you don't want to go to solo?</li>
  <li>Feeling isolated at home and looking for someone to have a coffee with?</li>
  <li>New in the area and you haven't met anyone yet?</li>
</ul>
<p>Register or log in now to create an event or find people who are already doing what you want to do.</p>
<div>
  <div>
    <h2>Log In</h2>
    <form action="/login" method="post">
      <%= hidden_field_tag( :authenticity_token, form_authenticity_token ) %>
      <label for="email-login">Email:</label>
      <input type="email" name="email" id="email-login">
      <label for="password-login">Your Password:</label>
      <input type="password" name="password" id="password-login">
    </form>
  </div>
  <div>
    <h2>Register</h2>
    <form action="/register" method="post">
      <%= hidden_field_tag( :authenticity_token, form_authenticity_token ) %>
      <label for="email-register">Email:</label>
      <input type="email" name="email" id="email-register">
      <label for="username-register">Username:</label>
      <input type="text" name="username" id="username-register">
      <label for="password-register">Your Password:</label>
      <input type="password" name="password" id="password-register">
      <label for="password-repeat">Confirm Your Password:</label>
      <input type="password" name="password-repeat" id="password-repeat">
    </form>
  </div>
</div>
